<a href="https://colab.research.google.com/github/bismishafi/advanced-in-python/blob/main/ict2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age=20
education="higher secondary"
if age>18:
  if education=="higher secondary":
    print(" you are eligible for college")
  else:
    print("you are not eligible for college, but continue with higher education")
else:
  print("you are not eligible for college")

 you are eligible for college

In [ ]:
x=10
if x>5:
    print("greater")
else:
    print("smaller")

greater

In [ ]:
print("greater")if x>5 else print("smaller")

greater

In [ ]:
mark=45
result="pass" if mark>30 else "fail"
if result=="pass":
    print("awarded with a grade")
else:
    print("no award")

awarded with a grade

In [ ]:
temperature=32
weather={"status":"hot" if temperature>30 else "cold"}
weather

{'status': 'hot'}

In [ ]:
print("apple :350\n bingo54\n orange:30\n pen:34\n pencil:90\n")
a=[38,54,30,90]
t=sum(a)
if(t>=2000):
  dis=(t/100)*20
  f=t-dis
elif(t>= 1000):
  dis=(t/100)*10
  f=t-dis
else:
  dis=0
  f=t

print("dis=", dis)
print("total=",f)

apple :350
 bingo54
 orange:30
 pen:34
 pencil:90

dis= 0
total= 212

In [ ]:
for i in range (10):
  print(f"square of (i) is {i**2}")

square of (i) is 0
square of (i) is 1
square of (i) is 4
square of (i) is 9
square of (i) is 16
square of (i) is 25
square of (i) is 36
square of (i) is 49
square of (i) is 64
square of (i) is 81

In [ ]:
grocery_list = ["apples","bananas","milk","bread","egg"]
for i in grocery_list:
  print(i)

apples
bananas
milk
bread
egg

In [ ]:
grocery_list=["apples","bananas","milk","bread","eggs"]
for i in grocery_list: # Changed 'f' to 'grocery_list'
  if i=="milk": # Added colon
    print("milk found")
  else:
    print("milk not found")

milk not found
milk not found
milk found
milk not found
milk not found

In [ ]:
for item in grocery_list:
  if item =="milk":
    print(item ,"present")
    break
  else:
    if item=="eggs":
      print(item, not "present")

milk present

In [ ]:
savings = [2000,2500,0,3000,1000,5000]
total = 0
for i in savings:
  if i==0:
    continue
    t=i
    print(i)
  total+=i
print("total savings (excluding zero):",total)

total savings (excluding zero): 13500

In [ ]:
savings=[2000,2500,0,3000,1000,5000]
total=0
for i in savings:
  if i==0:
    continue
    t=i
  print(i)
  if i>4000:
    print(f"4000<{i}")
    print(f"total savings is {t}")

2000
2500
3000
1000
5000
4000<5000
total savings is 13500

In [ ]:
savings=[2000,2500,0,3000,1000,5000]
total=0
for i in savings:
  if i==0:
    continue
    print(i)
  print(i)
  if i>4000:
    print(f"4000<{i}")
    t = sum(savings)
    print(f"total saving is {t}")
    tuple(savings)

2000
2500
3000
1000
5000
4000<5000
total saving is 13500

In [ ]:
set(savings)

{0, 1000, 2000, 2500, 3000, 5000}

In [ ]:
list(savings)

[2000, 2500, 0, 3000, 1000, 5000]

In [ ]:
numbers=["987643210","12345","9988776655","9876501234","93847837823"]
for i in numbers:
    if len(i)==10:
      print(i)

9988776655
9876501234

In [ ]:
["987643210","12345","9988776655","9876501234","93847837823"]
for i in numbers:
  if len(i)==10:
    print(f"{i} is valid")
  else:
    print(f"{i} is invalid")

987643210 is invalid
12345 is invalid
9988776655 is valid
9876501234 is valid
93847837823 is invalid

In [ ]:
numbers=["987643210","12345","9988776655","9876501234","93847837823"]
invalid_count=0
valid_count=0
valid_nums=set()
for num in numbers:
  if len(num)!=10:
    print("invalid")
    invalid_count+=1
    continue
  print("valid")
  valid_count+=1
  valid_nums.add(num)
print(f"invalid count is {invalid_count} and valid is {valid_count}")
print(valid_nums)

invalid
invalid
valid
valid
invalid
invalid count is 3 and valid is 2
{'9988776655', '9876501234'}

In [ ]:
i=1
while i<10:
  print(i**1)
  i+=1

1
2
3
4
5
6
7
8
9

In [ ]:
savings_goal=10000
current_sav=0

monthly_dep=1500


months=0
while current_sav <savings_goal:
  current_sav+=monthly_dep
  months+=1
else:
  print("you reach your goal")
  print(f"it will take {months}to achieve your goal of{savings_goal}")

you reach your goal
it will take 7to achieve your goal of10000

In [ ]:
student_grades={"anu":85,"bob":63,"sam":55,"ryan":52}
for i in student_grades.keys():
  print(i)

anu
bob
sam
ryan

In [ ]:
for i,j in student_grades.items():
 print(i,":",j)

anu : 85
bob : 63
sam : 55
ryan : 52

In [ ]:
for i,j in student_grades.items():
  if j>50:
    print(f"{i} scored a grade")
  else: # Corrected indentation
    print(f"{i}scored b grade")

anu scored a grade
bob scored a grade
sam scored a grade
ryan scored a grade

In [ ]:
employees = {} # Initializing employees dictionary
for empcode,empdetail in employees.items():
  print(empdetail)

In [ ]:
for empcode,empdetail in employees.items():
  for k,val in empdetail.items():
    print(k,":",val)

In [ ]:
a=3
b=4
c=5
if a>b:
  print("a is largest")
elif b>c:
  print("b is largest")
else:
  print("c is largest")

c is largest

In [ ]:
for number in range (100,800) :
  if number%3 ==0 and number%7==0:
    print(number)

105
126
147
168
189
210
231
252
273
294
315
336
357
378
399
420
441
462
483
504
525
546
567
588
609
630
651
672
693
714
735
756
777
798

to construct the pattern using for loop

In [ ]:
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

using for loop that will iterate from 1 to 15.odd/even

In [ ]:
for i in range(1,6):
  if i%2==0:
    print(i,"-even")
  else:
    print(i,"-odd")

1 -odd
2 -even
3 -odd
4 -even
5 -odd

integer as i/p and calculated the sum of its digits

In [ ]:
num=int(input("enter a integer"))
sum=0
while num>0:
  digit=num%10
  sum=sum+digit
  num=num//10
print("sum of digits is",sum)

enter a integer1234
sum of digits is 10

In [3]:
def factorial(n):
    fact=1
    for i in range (1,n+1):
      fact *=i
    return fact
num=int(input("enter a number:"))
print("factorial:",factorial(num))

enter a number:54
factorial: 230843697339241380472092742683027581083278564571807941132288000000000000

In [5]:
sentence=input("enter a sequence :").lower()
vowels="aeiou"
vowel_count=0
consonant_count=0

for char in sentence:
    if char.isalpha():
        if char in vowels:
            vowel_count+=1
        else:
            consonant_count+=1
print("vowels:",vowel_count)
print("consonants:",consonant_count)

enter a sequence :my dog has blue eyes
vowels: 6
consonants: 10

In [6]:
text=input("enter a string")
freq={}

for char in text:
  freq[char]=freq.get(char,0)+1
print("character frequency")
for char,count in freq.items():
  print(char,":",count)

enter a string"hello"
character frequency
" : 2
h : 1
e : 1
l : 2
o : 1

In [9]:
import math

a=float(input("enter a:"))
b=float(input("enter b:"))
c=float(input("enter c:"))

discriminant=b**2-4*a*c
if discriminant>0:
  root1=(-b+ math.sqrt(discriminant))/(2*a)
  root2=(-b- math.sqrt(discriminant))/(2*a)
  print("roots are real and different:",root1,root2)
elif discriminant == 0:
  root1=-b/(2*a)
  print("roots are real and same:",root1)
else:
  print("roots are complex")

enter a:5
enter b:8
enter c:6
roots are complex

In [14]:
def multiply(num):
  print(num*2)
multiply(10)

20

In [17]:
def send_gift(recipient, gift):
  print(f"sending {gift} to {recipient}")

send_gift("alice", "a watch")

sending a watch to alice

positional argument

In [24]:
def book_trip(destination,transport):
    print(f"booking {destination} to {transport}")
book_trip("a flight","paris")

booking a flight to paris

keyword argument

In [26]:
def book_trip(destination,transport):
    print(f"booking {transport} to {destination}!")
book_trip(destination="paris",transport="train")

booking train to paris!

default

In [31]:
def book_trip(destination,transport="paris"):
    print(f"booking a {destination} to {transport}")
book_trip("flight" ,"paris")

booking a flight to paris

In [37]:
def book_trip(destination,*items):
    print(f"trip to {destination}.packing:{items}")
book_trip("london","hat","pen")

trip to london.packing:('hat', 'pen')

function with return value

In [38]:
 def add_numbers(a,b):
     print(a+b)
result=add_numbers(5,5)

10

In [39]:
def add_ten(number):
    print(number+10)
my_result=add_ten(5)
final_answer=my_result*2
print("the final answer is :{final_answe}")

15

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [40]:
def add_ten(number):
    return number+10
my_result=add_ten(5)
final_answer=my_result*2
print(f"the final answer is :{final_answer}")

the final answer is :30

In [1]:
square=lambda x:x*x
square(5)

25

In [2]:
addition=lambda x,y:x+y
addition(10,20)

30

In [4]:
is_pass=lambda marks:"pass"if marks>40 else "fail"
is_pass(55)

'pass'

In [8]:
def square(x):
  sq=x*x
  return sq

numbers=[1,2,3,4,5]
squares=map(square,numbers)
list(squares)

[1, 4, 9, 16, 25]

In [11]:
sq=lambda x:x*x
numbers=[1,2,3,4,5]
squares=map(sq,numbers)
list(squares)

[1, 4, 9, 16, 25]

In [12]:
squares=list(map(lambda x:x*x,numbers))
squares

[1, 4, 9, 16, 25]

In [13]:
list_a=[1,2,3]
list_b=[4,5,6]
sum_lists=list(map(lambda x,y:x+y,list_a,list_b))
sum_lists

[5, 7, 9]

filter out negative values using lambda

In [14]:
number=[-3,-2,-7,9,4,8,1,5]
positive_numbers=list(filter(lambda x:x>0,numbers))
positive_numbers

[1, 2, 3, 4, 5]